body {
  background:  linear-gradient(90deg, #eacda3, #d6ae7b);
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
a {
  color: var(--bs-blue);
}

.navbar navbar-expand-lg bg-body-tertiary{
	height : 50px;
}

#phraseaccueil h1{
	font-size: 50px;
}

#phraseaccueil{
	width: 310px;
	margin: auto;
	text-align: center;
	
}

.navbar-toggler{
	color: white;
	background-color: white;
}

.navbar-brand{
	font-style: oblique;
	color: white;
}

.navbar-brand:hover{
	font-style: oblique;
	color:grey;
	
}

#navbarNav .navbar-nav .nav-item a{
	color : white;
	text-align: center;
	
	
}

#navbarNav .navbar-nav .nav-item a:hover{
	color : lightgrey;
	font-weight:bold;
}

.collapse navbar-collapse ul{
	margin: 50%;
}

#quisuisje {
	width: 250px;
	text-align: center;
	font-family: fantasy;
}

#moi{
	width: 55%;
	text-align: center;
	border: 2px solid black;
	font-size: 25px;
	font-family: verdana;
	margin: auto;
	background: linear-gradient(to bottom, #CE73CD 0%, #8B6DA4 100%, #4B2A51 100%);
	padding-top: 20px;
	border-radius: 10px;
	box-shadow: 15px 14px 22px 5px #683769;
	padding-bottom: 20px;
}


#titre1 {
	width: 300px;
	text-align: center;
	font-family: fantasy;
}
#pourquoi{
	width: 55%;
	text-align: center;
	border: 2px solid black;
	font-size: 25px;
	font-family: verdana;
	margin: auto;
	background: linear-gradient(to bottom, #CE73CD 0%, #8B6DA4 100%, #4B2A51 100%);
	padding-top: 20px;
	border-radius: 10px;
	box-shadow: 15px 14px 22px 5px #683769;
	padding-bottom: 20px;
}