.mb-3 {
	width: 50%;
}
body{
	background:  linear-gradient(90deg, #eacda3, #d6ae7b);
	font: 1rem/1.5 var(--bs-font-sans-serif);
}

a {
  color: var(--bs-blue);
}

.navbar-toggler{
	color: white;
	background-color: white;
}

.navbar-brand{
	font-style: oblique;
	color: white;
}

.navbar-brand:hover{
	font-style: oblique;
	color:grey;
	
}

#navbarNav .navbar-nav .nav-item a{
	color : white;
	text-align: center;
	
}

#navbarNav .navbar-nav .nav-item a:hover{
	color : lightgrey;
	font-weight:bold;
}

.collapse navbar-collapse ul{
	margin: 50%;
}

#contacter {
	width: 50%;
	margin: auto;
	text-align: center;
	font-family: century gothic;
}

#contacter h1{
	font-size: 70px;
	font-weight: bold;
}

#placement{
	
	width: 40%;
	margin: auto;
	border: 1px solid black;
	border-radius: 30px;
	height: 330px;
	box-shadow: 15px 14px 22px 5px #5E4EA1;
	background:linear-gradient(to bottom, #CE979E 0%, #8B6DA4 100%, #4B2A51 100%);
}

#placement .mb-3{
	padding-top: 15px;
	margin: auto;
	text-align: center;
}

#placement label{
	width: 250px;
	padding-top: 20px;
	margin-left: 12%;
}
#placement button{
	margin: auto;
}
#placement input{
	border-radius: 10px;
	width: 150px;

	margin-left: 0%;
	text-align: center;
}

#placement input[type=submit] {
	width:100px;
	
	box-shadow:4px 4px 4px pink;
	cursor:pointer;
	margin-left:15%;
 }
 
#placement label textarea{
	border-radius: 10px;
	height: 60px;
}